@inherits LayoutComponentBase

<div class="page">

    <main class="container-xxl">
        <div class="p-xl-5 pt-3 nav-links">
            <LoginDisplay />
        </div>
        <article class="content pt-1">
            @Body
        </article>
    </main>
</div>
